@import 'allShared';

.main{
	position: absolute;
	top:$invTop;	
	left: 5%;
	width: 95%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-content: space-around;
}